<div class="dashboard-container">
  @if(userRole==='Staff') {
    <h1>Staff Dashboard</h1>
    <a routerLink="/patients">
      <span>View Patients</span>
    </a>
     <a routerLink="/providers">
      <span>View Providers</span>
    </a>
  }
  @else if(userRole==='Admin') {
    <h1>Admin Dashboard</h1>
    <a routerLink="/admin/settings">
      <span>Manage Settings</span>
    </a>
  }
  @else if(userRole==='Clinician') {
    <h1>Clinician Dashboard</h1>
    <a routerLink="/clinician/appointments">
      <span>View Appointments</span>
    </a>
  }
</div>
